body {
    /*background-color: lightblue;*/
}
h1 {
font-family: 'Exo', sans-serif;
text-align: center;
/*font-family: 'Merienda One', cursive;*/
/*font-family: 'Permanent Marker', cursive;*/
/*font-family: 'Orbitron', sans-serif;*/
}

#input {
  display: table;
  width: 100%;
}

form {
  display: table-cell;
  text-align: center;
}

#concept {
  /*display: inline-block;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding-bottom: 3px;*/
}

#singleEntry {
  padding: 5px;
  /*align-content: center;*/
}

#image {
  border-style: solid;
  border-color: black;
  /*border-width: 1px*/
  border-radius: 10px;
  border-width: 1px

}

#table {
 margin-left: 10px;
 margin-right: 10px;
 background-color: none;
}

#addUrl {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 7px 16px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}

table, th, td {
  border: 1px solid black;
}

table {
  display: inline-block;
}